<html>
    <head>
        <title>Admin Panel</title>
    </head>
    <link rel="stylesheet" href="/css/home.css">
    <body>
        <div class="title">Kanma Admin Panel</div>
        <div class="title" id="user">Welcome, N/A</div>
        <div class="sub-title">Panel Controls</div>
        <div class="table">
            <button class="add-movie" id="add-movie">Add a Movie</button>
            <button class="remove-movie" id="remove-movie">Remove a Movie</button>
            <button class="edit-movie" id="edit-movie">Edit a Movie</button>
            <button class="add-screen" id="add-screen">Add a Screen</button>
            <button class="remove-screen" id="remove-screen">Remove a Screen</button>
            <button class="edit-screen" id="edit-screen">Edit a Screen</button>
            <button class="database" id="database">Remove Booking Database</button>
        </div>
    </body>
    <script src="/js/handleupdate.js" type="module"></script>
    <script src="/js/admin/handlePanel.js" type="module"></script>
</html>