<html>
    <head>
        <title>Admin Panel</title>
    </head>
    <link rel="stylesheet" href="/css/home.css">
    <body>
        <div class="title">Kanma Admin Panel</div>
        <div class="title">Welcome, N/A</div>
        <div class="sub-title">Panel Controls</div>
        <div class="table">
            <button class="add" id="add">Add a Movie</button>
            <button class="remove" id="remove">Remove a Movie</button>
            <button class="edit" id="edit">Edit a Movie</button>
            <button class="database" id="database">Remove Booking Database</button>
        </div>
    </body>
    <script src="/js/handleupdate.js" type="module"></script>
    <script src="/js/admin/handlePanel.js" type="module"></script>
</html>