<html>
    <head>
        <title>Admin Panel</title>
    </head>
    <body>
        <div class="title">Kanma Admin System</div>
        <div class="form">
        <div class="sub-title">Login</div>
        <input type="text" id="username" placeholder="Username">
        <input type="password" id="password" placeholder="Password">
        <button id="login">Login</button>
        </div>
        <div class="err off" id="err">Error: Username or Password incorrect.</div>
    </body>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/admin/handleLogin.js" type="module"></script>
</html>