
/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: 'Poppins';
}

.title {
    width: 100%;
    height: 32px;
    font-size: 32px;
    margin-bottom: 50px;
    text-align: center;
}

.main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: gray;
    border: 0px;
    border-radius: 8px;
    color: white;
}

.sub {
    width: 40%;
    font-size: 24px;
    margin-left: 5%;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 10%;
}

input {
    font-size: 24px;
    height: 100%;
    border: 0px;
    border-radius: 8px;
}

select {
    font-size: 24px;
    height: 100%;
    border: 0px;
    border-radius: 8px;
}

.cover-art {
    height: 250px;
    width: 200px;
    display: flex;
    background-color: wheat;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40%;
} 

img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    background-color: rgb(224, 224, 224);
    border: 0px;
    border-radius: 2px;
}

.save {
    width: 30%;
    height: 40px;
    font-size: 24px;
    border-radius: 8px;
    border: 0px;
    background-color: rgb(255, 0, 230);
    color: white;
    margin-top: 200px;
}

.back {
    margin: 20px;
    width: 10%;
    height: 50px;
    font-size: 32px;
    background-color: rgb(255, 0, 230);
    color: white;
    border: 0px;
    border-radius: 8px;
}

.table {
    display: flex;
    flex-wrap: wrap;
}

.screen {
    display: flex;
    margin-left: 20px;
}

.check {
    width: 24px;
    height: 24px;
}

.grid {
    display: grid;
}

.time {
    margin-top: 10px;
}

.movies-table {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.movie-cover {
    width: 10%;
    /*height: 10%;*/
    border: 0px;
    margin: 10px;
    margin-right: 0px;
}
.movie-cover img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.off {
    display: none;
}