<html>
    <head>
        <title>Kanma: Cinema Booking System</title>
    </head>
    <body>
        <div class="sidebar">
            <div class="title">Kanma</div>
            <div class="sub-title">Made by MythicalPlayz</div>
            <div class="sub-title">V0.0.1-dev</div>
            <div class="poster">
                <img id="cover">
            </div>
            <div class="textlabel">Movie</div>
            <select class="movie" id="movie"></select>
            <div class="textlabel">Time</div>
            <select class="time" id="time"></select>
            <div class="textlabel">Screen</div>
            <select class="screen" id="screen"></select>
            <button class="prebook bookbtn" id="bookbtn">Comfirm Book</button>
        </div>
        <div class="cinema" id="cinema">
            <div class="mscreen" id="main-screen">Screen</div>
        </div>
    </body>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/handleMovies.js" type="module"></script>
    <script src="/js/handleupdate.js" type="module"></script>
    <script src="/js/handleScreen.js" type="module"></script>
    <script src="/js/handlebook.js" type="module"></script>
</html>